.clock__container {
    height: 650px;
}

.clock__circle {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 8px hsla(var(--hue-color), 8%, 12%, 1),
    -3px -3px 8px hsla(var(--hue-color), 8%, 20%, 1),
    inset 2px 2px 3px hsla(var(--hue-color), 8%, 20%, 1),
    inset -2px -2px 3px hsla(var(--hue-color), 8%, 12%, 1);
}

.clock__content {
    align-self: center;
    row-gap: 3.5rem;
}

.clock__twelve,
.clock__three,
.clock__six,
.clock__nine {
    position: absolute;
    width: 1rem;
    height: 1px;
    background-color: var(--text-color-light);
}

.clock__twelve, .clock__six {
    transform: translateX(-50%) rotate(90deg);
}

.clock__twelve {
    top: 1.25rem;
    left: 50%;
}

.clock__three {
    top: 50%;
    right: .75rem;
}

.clock__six {
    bottom: 1.25rem;
    left: 50%;
}

.clock__nine {
    left: .75rem;
    top: 50%;
}

.clock__rounder {
    width: .75rem;
    height: .75rem;
    background-color: var(--first-color);
    border-radius: 50%;
    border: 2px solid var(--body-color);
    z-index: 10;
}

.clock__hour,
.clock__minutes,
.clock__seconds {
    position: absolute;
    display: flex;
    justify-content: center;
}

.clock__hour {
    width: 105px;
    height: 105px;
}

.clock__hour::before {
    content: '';
    position: absolute;
    background-color: var(--text-color);
    width: .25rem;
    height: 3rem;
    border-radius: .75rem;
    z-index: 1;
}

.clock__minutes {
    width: 136px;
    height: 136px;
}

.clock__minutes::before {
    content: '';
    position: absolute;
    background-color: var(--text-color);
    width: .25rem;
    height: 4rem;
    border-radius: .75rem;
    z-index: 1;
}

.clock__seconds {
    width: 130px;
    height: 130px;
}

.clock__seconds::before {
    content: '';
    position: absolute;
    background-color: var(--first-color);
    width: .125rem;
    height: 5rem;
    border-radius: .75rem;
    z-index: 1;
}


.clock__text {
    display: flex;
    justify-content: center;
    font-size: var(--big-font-size);
    font-weight: var(--font-medium);
}


.clock__date {
    margin-top: 1rem;
    text-align: center;
    font-size: var(--small-font-size);
    font-weight: var(--font-light);
}
